<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
   <title>Login page</title>
</head>

<body>
   <a href="/home/welcome">Welcome</a>
   <div id="page" class="site">
      <div class="container">
         <div class="wrapper">
            <div class="register">
               <div class="content-heading">
                  <div class="y-style">
                     <div class="logo"><a href="#">.web<span>Travel</span></a></div>
                     <div class="welcome">
                        <h2>sign Up<span class="under">Now</span></h2>
                        <p>ready to see the world <span class="under">we can guide you </span></p>
                     </div>
                  </div>
               </div>
               <div class="content-form">
                  <div class="y-style">
                     <% if (messages.error) { %>
                     <%= messages.error %>
                     <% } %>
                     <%- include ("./msg/messages"); %>
                     <form action="/user/register" method="post">
                        <p class="worning" id="worning"></p>
                        <p>
                           <label for="name">Name</label>
                           <input type="text" name="name" placeholder="Enter Your name" id="name"
                              value="<%= typeof name != 'undefined' ? name : '' %>" required>
                        </p>
                        <p>
                           <label for="email">Email</label>
                           <input type="text" name="email" placeholder="name@email.com"
                              value="<%= typeof email != 'undefined' ? email : '' %>" id="email" required>
                        </p>
                        <p>
                           <label for="password">password</label>
                           <input type="password" name="password" value="" placeholder="******** " id="password"
                              value="<%= typeof password != 'undefined' ? password : '' %>" required>
                        </p>
                        <p class=" check">
                           <input type="checkbox" name="ckeck" id="terms">
                           <label for="terms">I agree to all statement includes</label>
                        </p>
                        <button type="submit" class="btn">Rigister</button>

                     </form>
                     <div class="social">
                        <p class="or-with"><span>or signUp with</span></p>
                        <ul>
                           <li><a href="#" class="google">
                                 <ion-icon name="logo-google"></ion-icon>
                              </a></li>
                           <li><a href="#" class="facebook">
                                 <ion-icon name="logo-facebook"></ion-icon>
                              </a></li>
                           <li><a href="#" class="twitter">
                                 <ion-icon name="logo-twitter"></ion-icon>
                              </a></li>
                        </ul>
                     </div>
                     <div class="afterform">
                        <p>Have an account </p>
                        <a href="/user/login" class="t-login">Login here</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script src="/app.js"></script>
   <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>